<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
    <% if (let Student of studentsDetails){%>
        <div>
            <%= Student.rollno %></div>
            <div>
                <%= Student.name %></div>
                <div>
                    <%= Student.marks %></div>
                    <div>
                        <%= Student.course %></div>
            
    }>
</body>
</html>